// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Views
@import "./views/contact-details";
@import "./views/contact-page";
@import "./views/home-page";

// Components
@import "./cmps/contact-list";
@import "./cmps/contact-preview";
@import "./cmps/contact-filter";
@import "./cmps/chart";








.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .app-header {
        background-color: #ebd2bf;
        height: 10vh;
        
        padding: rem(20px) rem(20px);
    }

    > :not(.full){
        padding: rem(20px) rem(20px);
    }

    main {
        flex-grow: 1;
        width: 100%;
    }

    > footer {
        background-color: #111;
        color: white;
    }
}