.move-list{
    border-top: 2px solid rgba(59, 59, 59, 0.801);
    h3{
        font-weight: 700;
    }
    ul{
        list-style-type:none;
        padding: 0;

        li {
            border-bottom: 2px solid rgba(36, 36, 36, 0.801);
        }
    }

}